*.bib
*.aux
*.log
*.out
*.spl
*.synctex.gz
paper/paper.blg

brainPainterMICCAI/pres/images

*.zip
*.bbl
*.blg
*.bcf
*.xml
*.bak
brainPainterMICCAI/copyright-form-revised.pdf
brainPainterMICCAI/copyright-form-revised2.pdf
brainPainterMICCAI/copyright-form-signed.pdf
brainPainterMICCAI/feedback/
*.nav
*.snm
*.toc

